@import "tailwindcss";
@theme {
  --font-sans: var(--font-inter-sans);
}
:root {
  --background: #ffffff;
  --foreground: #000;
  --accent: #000;
  --site-width: 50rem;
  --header-height: 72px;
  --header-height-desktop: 84px;
  --footer-height: 0px;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  text-wrap: balance;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

button {
  @apply cursor-pointer;
}
.button-black {
  @apply bg-black text-white px-4 py-2 rounded-lg border border-black hover:bg-black/80;
}
.button-white {
  @apply px-4 py-2 rounded-lg border border-black hover:bg-black/20;
}
.pill {
  @apply px-3 py-1 rounded-full text-xs border border-black/60 text-black/60 w-fit;
}
.heading1 {
  @apply text-2xl font-bold;
}
.heading2 {
  @apply text-xl font-bold;
}
.heading3 {
  @apply text-lg font-bold;
}
.personal-workout-routine-form label {
  @apply w-full;
}

.personal-workout-routine-form select {
  @apply px-3 py-2  rounded-full border border-black/60 text-black/60  text-center text-xs md:text-sm  cursor-pointer hover:bg-black/5 ;
}

.left-to-right-gradient {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff00 10%,
    #ffffff00 40%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  animation: gradient 15s ease infinite;
}
